<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Monster Stripe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    
    <!-- Link Script -->
    <link rel="stylesheet" href="menu.css">
    <script  src="menu.js"></script>
    <script type="text/javascript" src="../Display_Monster/display_monster.js"></script>
    <script type="text/javascript" src="../skillBook.js"></script>
    <link rel="stylesheet" type="text/css" href="../Display_Monster/display_monster.css">
    
    <!-- Vue.js -->
    <script src="https://unpkg.com/vue"></script>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    
    <!-- Chart.js -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

    
  </head>

  <body>
    <div id="app" style=" margin-bottom: 200px; ">
    <h1 class = "title">Monster Stripe</h1>
    <div class="box">
    <form name = "form_puripuri"></form>
    
    <div class="outer-menu">
      <input class="checkbox-toggle" type="checkbox" />
      <div class="hamburger">
	<div></div>
      </div>
      <div class="menu">
	<div>
	  <div>
            <ul>
              <li><a href="#" onclick="puripuri_submit('../Battle/battle.html')">Battle</a></li>
              <li><a href="#" onclick="puripuri_submit('../Menu/menu.html')">Monster</a></li>
              <li><a href="#" onclick="puripuri_submit('../Scan_Barcode/scan_barcode.html')">Scan Barcode</a></li>
              <li><a href="#" onclick="puripuri_submit('../index.html')">Title</a></li>
            </ul>
	  </div>
	</div>
      </div>
    </div>

    <div class="background">
		      <div class="gradient">
		        <div class="MonsterBox"></div>
		        <img v-bind:src="userMonsterSrc" class="Monster" ></img>
              <div class = "t_box">
      <TABLE>
      <tr>
              <th>No.</th><td>{{barcode}} </td>
      </tr>
   
      <tr>
              <th>Skill 1</th><td>{{PlayerSkillName1}}</td>
      </tr>
      <tr>
              <th>Skill 2</th><td>{{PlayerSkillName2}}</td>
      </tr>
      <tr>
              <th>Skill 3</th><td>{{PlayerSkillName3}}</td>
      </tr>
      <tr>
              <th>Skill 4</th><td>{{PlayerSkillName4}}</td>
      </tr>
      
  </TABLE></div>

  <!-- Lader Chart -->
  <div class = "chart_box">
    <canvas class="chart" id="radarChart"></canvas>
  </div>

  </div>
  </div>
  
    </form>
    </div>
  </body>
</html>
