@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");
html, body {
  height: 100%;
  background: #beb5ff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  position: relative;
  margin-top: 10px;
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: 'Monotype Corsiva';
}

.label {
  position: relative;
  padding-top: 15px;
  color: #1c2e56;
  text-align: center;
  font-size: 40px;
  font-family: 'Monotype Corsiva';
}

.box {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 3%;
  width: 600px;
  height: 420px;
  background: #F8F8F8;
  z-index: 0;
}

.t_box{
  width: 300px;
  background: rgba(0,0,0,0);/*#F8F8F8;*/
  padding-top: 40px;
  /*margin-top: 4px;*/
}

/* Table */
table {
  width: 600px;
  height: 250px;
  border-bottom: 1px solid #5e77ba;
  border-radius: 5px;
  border-spacing: 0;
  font-family: serif;
  text-align: center; 
  z-index: 2;
}

table th, table td {
  border-bottom: 1px solid #5e77ba;
}

table th {
  border-bottom: 1px solid white;
  border-color: #5e77ba;
  color: #6284c3;
  background-color: #1c2e56;  
  border-width: 1px 0px;
  border-style: dashed;
  width : 200px;
}

table td{
  border-bottom: 1px solid #5e77ba;
  width: 80px;
  border-color: #5e77ba;  
  background-color: #23468a;
  color: white;
  border-width: 1px 0px;
  border-style: dashed;
}

.ppTable{
  width: 240px;
}
/* \Table */

/* Button */
.btn{
  display: block;
  text-decoration: none;
  background: #1c2e56;
  border-radius: 20px;
  margin-left: 45px;
  color: white;
  border-color: white;
  padding: 10px 30px;

}

.btn:hover{
  background: #5e77ba;
  color: #fff;
}

/* \Button */

/* EnterButton */
.enterBtn{
    position: relative;
    display: inline-block;
    margin-top: 5px;
    margin-left: 244px;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #668ad8;
    border-right: solid 4px #668ad8;
    color: white;
    background: #23468a;
    transition: .4s;
    text-align: center; 
    
}

.enterBtn:hover {
    background: #668ad8;
    color: #FFF;
}
/* \EnterButton */