<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Monster Stripe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Vue.js -->
    <script src="https://unpkg.com/vue"></script>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    
    <!--  Link script -->
    <script type="text/javascript" src="level_up.js"></script>
    <link rel="stylesheet" type="text/css" href="level_up.css">
    
    <!-- Sweet alert-->
    <script type="text/javascript" src="../Sweet_Alert/dist/sweetalert2.js"></script>
    <link rel="stylesheet" type="text/css" href="../Sweet_Alert/dist/sweetalert2.css">



  </head>

  <body>
    <!--<div id="app" style=" margin-bottom: 200px; ">-->
    <div id = "app">
      <h1 class="title">Monster Stripe</h1>
      <div class="box">
        <h1 class="label"> - Level Up -</h1>
        <TABLE>
          <tr>
                  <th>SP</th> <td>{{statusPoint}}</td>
          </tr>
          <tr>
                  <th>HP</th>  <td><button  class="btn" :disabled= "btnDownFlag" v-on:click = "statusDown(1)">-</button> </td> <td>{{userHp}}</td>  <td><button  class="btn"  :disabled= "btnUpFlag" v-on:click = "statusUp(1)">+</button></td>
          </tr>
          <tr>
                  <th>Attack</th> <td><button  class="btn" :disabled= "btnDownFlag" v-on:click = "statusDown(2)">-</button></td> <td>{{userAttack}}</td> <td><button  class="btn"  :disabled="btnUpFlag" v-on:click = "statusUp(2)">+</button></td>
          </tr>
          <tr>
                  <th>Defense</th>  <td><button  class="btn" :disabled= "btnDownFlag" v-on:click = "statusDown(3)">-</button></td> <td>{{userDefense}}</td> <td><button  class="btn"  :disabled="btnUpFlag" v-on:click = "statusUp(3)">+</button></td>
          </tr>
          <tr>
                  <th>Speed</th>  <td><button  class="btn" :disabled= "btnDownFlag" v-on:click = "statusDown(4)">-</button></td> <td>{{userSpeed}}</td> <td><button  class="btn"  :disabled="btnUpFlag" v-on:click = "statusUp(4)">+</button></td>
          </tr>
      </TABLE>
      <form name = "form_puripuri"></form>
      <a href="#" class="enterBtn" v-on:click = "enter()">ENTER</a>
      </div> 
		</div>
  </body>
</html>
