@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");
html, body {
  height: 100%;
  background: #beb5ff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #beb5ff;
}

.title {
  position: relative;
  margin-top: 10px;
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: 'Monotype Corsiva';
}

.box {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 3%;
  width: 600px;
  height: 420px;
  background: #beb5ff;/*#F8F8F8;*/
  z-index: 1;
}

.img{
  text-align: center;
  max-width: 600px;
  max-height: 420px;
}

.mBtn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    border-top: solid 3px #668ad8;
    border-left: solid 3px #668ad8;
    color: #668ad8;
    transition: .4s;
    top: -498px;
}

.mBtn:hover {
    color: white;
    padding-left: 0.7em;
    padding-right: 0.3em;
}

.btn{
display: inline-block;
text-decoration: none;
position: relative;
top : -88px;
left: 160px;
color: white;
background: #5e77ba;
width: 60px;
height: 60px;
line-height: 63px;
border-radius: 50%;
border: double 9px #1c2e56;
text-align: center;
vertical-align: middle;
overflow: hidden;
transition: .6s;
}
.btn:hover{
-webkit-transform: rotateY(360deg);
-ms-transform: rotateY(360deg);
transform: rotateY(360deg);
}
