<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MonsterStripe</title>
<style>[v-cloak] {display:none;}</style>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="battle.css">
<link rel="stylesheet" href="styleBtn.css">
  <!-- Link sweet alert-->
  <script type="text/javascript" src="../Sweet_Alert/dist/sweetalert2.js"></script>
  <link rel="stylesheet" type="text/css" href="../Sweet_Alert/dist/sweetalert2.css">
</head>
<body>
<div id="main" v-cloak>
	
	<div :class="{dispoff: view != 'lobby'}">
		<strong>MonsterStripe</strong><br>
		<br>
		<!--
		<button @click="createRoom">Create Room!</button><br>
		<br>
		<input type="text" maxlength="4" v-model="roomId" placeholder="Room ID"><button @click="goRoom">Go!</button>
	-->

<!-- Notify -->

  <div class='centerMe'>
  <div class='cta'>
    <span>Join a room</span>
    <form>
      <div class='input'>
        <input type="text" maxlength="4" v-model="roomId" placeholder="Room ID">
      </div>
      <div class='button'>
        <button  @click="goRoom">Join</button>
      </div>
    </form>   
  </div>
  </div>
  
  <div class='centerMe2'>
  <a href="#" class="square_btn" @click="createRoom">Create a room</a>
  </div>
  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

<!-------------->
</div>

<form name = "form_puripuri"></form>
	
	<div :class="{dispoff: view != 'game'}">
		<div>
			<div>
				<div v-for="i in 1" class="row">
<h1 class="title">Monster Stripe</h1>
  <!-- Begin battle scene -->
   <div class="battle-scene">
    <!-- Enemy -->
    <div class="box-top-left">
     <h2 class="pokemon">{{sync.opponentMonster}}</h2>
     <div class="hp-bar-top">
      <div v-bind:style="sync.opponentHpBar" class="hp-bar-fill"></div>
     </div>
     <h4 class="level">Level {{sync.count}}</h4>
    </div>
    <div class="box-top-right">
     <img v-bind:src="sync.opponentSrc" class="pokemon-top" />
    </div>
    <!------------user-------------- -->
    <div class="field-bottom-left">
     <img v-bind:src="sync.userSrc" class="pokemon-bottom" />
    </div>
    <div class="box-bottom-left">
     <h2 class="pokemon">{{sync.userMonster}}</h2>
     <div class="hp-bar-bottom">
      <div v-bind:style="sync.userHpBar" class="hp-bar-fill"></div>
     </div>
     <h4 class="level">Lv. {{sync.userLevel}}</h4>
     <h4 class="hp">{{sync.userHP}}/{{sync.userMax}}</h4>
    </div>
    <!--  ---------buddy------------  -->
    <div class="field-bottom-right">
     <img v-bind:src="sync.buddySrc" class="pokemon-bottom" />
    </div>
    <div class="box-bottom-right">
     <h2 class="pokemon">{{sync.buddyMonster}}</h2>
     <div class="hp-bar-bottom">
      <div v-bind:style="sync.buddyHpBar" class="hp-bar-fill"></div>
     </div>
     <h4 class="level">Lv. {{sync.buddyLevel}}</h4>
     <h4 class="hp">{{sync.buddyHP}}/{{sync.buddyMax}}</h4>
    </div>
    
    <div class="bottom-menu">
     <div class="battle-text text-box-left">{{battleText}}</div>
     <div class="text-box-right">
      <!-- Battle Options-->
      <div v-if="optionsOn" id="battleOptions"> 
       <h4 v-on:click="processOption(1)" class="battle-text-top-left">{{battleOptions[0]}}</h4>
       <h4 v-on:click="processOption(2)" class="battle-text-top-right">{{battleOptions[1]}}</h4>
       <h4 v-on:click="processOption(3)" class="battle-text-bottom-left">{{battleOptions[2]}}</h4>
       <h4 v-on:click="processOption(4)" class="battle-text-bottom-right">{{battleOptions[3]}}</h4> 
      </div>
      <!-- Fight Options-->
      <div v-if="fightOn" id="fightOptions">
       <h4 v-on:click="processAttack(1)" class="battle-text-top-left">{{fightOptions[0]}}</h4>
       <h4 v-on:click="processAttack(2)" class="battle-text-top-right">{{fightOptions[1]}}</h4>
       <h4 v-on:click="processAttack(3)" class="battle-text-bottom-left">{{fightOptions[2]}}</h4>
       <h4 v-on:click="processAttack(4)" class="battle-text-bottom-right">{{fightOptions[3]}}</h4> 
      </div>
     </div>
    </div>
   </div> 
   <!-- Text area -->
   <form name="text">
   	 <textarea id="area" name="line" readonly> Options are displayed here </textarea>
   </form>

  <!-- end battle scene -->
				</div>
			</div>
		</div>
		
		<div>
			<p>
				Room ID: {{roomId}}<br>
				Your Mark: {{parseOX(mark)}}<br>
				Turn: {{parseOX(sync.turn)}}<br>
			</p>
		</div>
	</div>
	
</div>

<!-- update the version number as needed -->
<script defer src="/__/firebase/4.6.0/firebase-app.js"></script>
<!-- include only the Firebase features as you need -->
<script defer src="/__/firebase/4.6.0/firebase-auth.js"></script>
<script defer src="/__/firebase/4.6.0/firebase-database.js"></script>
<script defer src="/__/firebase/4.6.0/firebase-messaging.js"></script>
<script defer src="/__/firebase/4.6.0/firebase-storage.js"></script>
<!-- initialize the SDK after all desired features are loaded -->
<script src="https://unpkg.com/vue"></script>
<script defer src="/__/firebase/init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
<script src="battle.js"></script>
<script type="text/javascript" src="../skillBook.js"></script>
<script type="text/javascript" src="styleBtn.js"></script>

<style>
* {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color:black;
}
div {
  /*min-width: 2em;*/
  /*min-height: 2em;*/
}
button {
  padding: 0.5em;
}
input[type=text] {
  width: 5.5em;
  padding: 0.5em;
}
strong {
  font-size: 2em;
}
.dispoff {
  display: none;
}
</style>

</body>
<html>