@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");
html, body {
  height: 100%;
  background: #beb5ff;
  /*background: #3C7ACD;*/
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

strong{
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: 'Monotype Corsiva';
}

textarea{
  font-family: sans-serif;
  margin-top: 10px;
  width: 100%;
  background-color: white;/*#fdffba;*/
  color: #3C7ACD;
  box-shadow: 0 0 7px #5d05ff;
  border: 1px solid #5d05ff;
  font-size:10pt;
  height: 90px;
}

.title {
  position: relative;
  margin-top: 10px;
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: 'Monotype Corsiva';
}

.battle-scene {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 3%;
  width: 600px;
  height: 420px;
  background: #F8F8F8;
  z-index: 1;
}

.box-top-left {
  position: absolute;
  width: 40%;
  height: 15%;
  border-radius: 10px;
  top: 8%;
  left: 8%;
  background: #F8F8D8;
  border: 6px solid #506860;
}

.hp-bar-top {
  position: absolute;
  bottom: 16%;
  height: 20%;
  width: 70%;
  left: 10%;
  border-radius: 10px;
  background: grey;
  opacity: 0.5;
}

.hp-bar-bottom {
  position: absolute;
  bottom: 32%;
  height: 20%;
  width: 70%;
  left: 10%;
  border-radius: 10px;
  background: grey;
  opacity: 0.5;
}

.hp-bar-fill {
  position: absolute;
  height: 100%;
  border-radius: 10px;
  background: #FF8800;
}

.box-top-right {
  position: absolute;
  width: 40%;
  height: 15%;
  border-radius: 50%;
  top: 30%;
  right: 8%;
  background: #E0E0E0;
}

.pokemon-top {
  max-width: 150px;
  position: absolute;
  top: -170%;
  left: 15%;
}

.pokemon-bottom {
  /*height: 150%;
  width: 50%;*/
  position: absolute;
  top: -130px;
  max-width: 150px;
  left: 40px;
}

.field-bottom-left {
  position: absolute;
  width: 40%;
  height: 10%;
  border-radius: 50%;
  bottom: 110px;
  left: 8%;
  background: #E0E0E0;
}

.box-bottom-left {
  position: absolute;
  width: 250px;
  height: 80px;
  border-radius: 10px;
  bottom: 100px;
  background: #00256633;
  /*border: 6px solid #506860;*/
  z-index: 2;
  left: 40px;
}

.field-bottom-right{
  position: absolute;
  width: 40%;
  height: 10%;
  border-radius: 50%;
  bottom: 110px;
  right: 8%;
  background: #E0E0E0;
}

.box-bottom-right {
  position: absolute;
  width: 250px;
  height: 80px;
  border-radius: 10px;
  bottom: 100px;
  background: #00256633;
  /*border: 6px solid #506860;*/
  z-index: 2;
  right: 40px;
}

.pokemon {
  text-align: left;
  margin-left: 10%;
  margin-top: 5%;
  opacity: 0.7;
  font-size: 18px;
  font-family: "Roboto Condensed";
}

.level {
  position: absolute;
  right: 8%;
  top: -11%;
  opacity: 0.7;
  font-size: 16px;
  font-family: "Roboto Condensed";
}

.hp {
  position: absolute;
  right: 8%;
  bottom: -20%;
  opacity: 0.7;
  font-size: 16px;
  font-family: "Roboto Condensed";
}

.bottom-menu {
  position: absolute;
  width: 98%;
  bottom: 0%;
  height: 19%;
  background: #285068;
  z-index: 1;
  border: solid 6px #CEB46D;
}

.text-box-left {
  position: absolute;
  width: 50%;
  left: 0%;
  height: 95%;
}

.text-box-right {
  position: absolute;
  width: 40%;
  top: -6%;
  right: -1%;
  height: 98%;
  background: #F8F8F8;
  border: solid 6px #6F677F;
}

.battle-text {
  margin-top: 3%;
  margin-left: 5%;
  opacity: 0.95;
  font-size: 18px;
  color: white;
  text-align: left;
  font-family: "PT Sans Narrow";
}

.battle-text-top-left {
  opacity: 0.95;
  position: absolute;
  font-size: 22px;
  color: #333333;
  top: -30%;
  left: 10%;
  text-align: left;
  font-family: "PT Sans Narrow";
  cursor: pointer;
}

.battle-text-bottom-left {
  opacity: 0.95;
  position: absolute;
  font-size: 22px;
  color: #333333;
  bottom: -30%;
  left: 10%;
  text-align: left;
  font-family: "PT Sans Narrow";
  cursor: pointer;
}

.battle-text-top-right {
  opacity: 0.95;
  position: absolute;
  font-size: 22px;
  color: #333333;
  top: -30%;
  right: 21%;
  text-align: left;
  font-family: "PT Sans Narrow";
  cursor: pointer;
}

.battle-text-bottom-right {
  opacity: 0.95;
  position: absolute;
  font-size: 22px;
  color: #333333;
  bottom: -30%;
  right: 20%;
  text-align: left;
  font-family: "PT Sans Narrow";
  cursor: pointer;
}

@media all and (max-width: 600px) {
  .battle-scene {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 3%;
    width: 400px;
    height: 280px;
    background: #F8F8F8;
    z-index: 1;
  }

  .title {
    position: absolute;
    top: -33%;
    left: 7.5%;
    color: white;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    font-family: "Roboto Condensed";
  }

  .pokemon {
    text-align: left;
    margin-left: 11%;
    margin-top: 5%;
    opacity: 0.7;
    font-size: 14px;
    font-family: "Roboto Condensed";
    /* ----------------*/
     font-weight: bold;
    text-shadow: 5px 5px 1px #999999;
  }

  .level {
    position: absolute;
    right: 5%;
    top: -13%;
    opacity: 0.7;
    font-size: 10px;
    font-family: "Roboto Condensed";
    color: #003899;
  }

  .hp {
    position: absolute;
    right: 8%;
    bottom: -20%;
    opacity: 0.7;
    font-size: 11px;
    font-family: "Roboto Condensed";
  }

  .battle-text-top-left {
    opacity: 0.95;
    position: absolute;
    font-size: 14px;
    color: #333333;
    top: -30%;
    left: 10%;
    text-align: left;
    font-family: "PT Sans Narrow";
    cursor: pointer;
  }

  .battle-text-bottom-left {
    opacity: 0.95;
    position: absolute;
    font-size: 14px;
    color: #333333;
    bottom: -30%;
    left: 10%;
    text-align: left;
    font-family: "PT Sans Narrow";
    cursor: pointer;
  }

  .battle-text-top-right {
    opacity: 0.95;
    position: absolute;
    font-size: 14px;
    color: #333333;
    top: -30%;
    right: 21%;
    text-align: left;
    font-family: "PT Sans Narrow";
    cursor: pointer;
  }

  .battle-text-bottom-right {
    opacity: 0.95;
    position: absolute;
    font-size: 14px;
    color: #333333;
    bottom: -30%;
    right: 20%;
    text-align: left;
    font-family: "PT Sans Narrow";
    cursor: pointer;
  }

  .battle-text {
    margin-top: 1%;
    margin-left: 5%;
    opacity: 0.95;
    font-size: 10px;
    color: white;
    text-align: left;
    font-family: "PT Sans Narrow";
  }
}
