@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");
html, body {
  height: 100%;
  background: #79d2f0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  position: relative;
  margin-top: 10px;
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: 'Monotype Corsiva';
}

.box {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 3%;
  width: 600px;
  height: 220px;
  background: #F8F8F8;
  z-index: 0;
}

.t_box{
  width: 300px;
  background: rgba(0,0,0,0);/*#F8F8F8;*/
  padding-top: 40px;
  /*margin-top: 4px;*/
}

/*--------Square---------*/
.square_btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    left: 10px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
    padding: 0.3em 0.5em;
    background: #23468a;
    border-radius: 5px;
    border-top: solid 3px #6284c3;
    border-bottom: solid 3px #6284c3;
    transition: .4s;
}

.square_btn:hover {
    text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}


.MonsterBox {
  position: relative;
  top: 170px;
  height: 30px;
  width: 300px;
  left: 150px;
  border-radius: 50%;
  background: #E0E0E0;
}

.Monster {
  position: relative;
  width: 100%;
  display: block;
  max-width: 150px;
  left: 225px;
}


table {
  width: 300px;
  height: 200px;
  border-bottom: 1px solid #5e77ba;
  border-radius: 5px;
  border-spacing: 0;
  font-family: serif;
  text-align: center; 
  z-index: 2;
}

table th, table td {
  border-bottom: 1px solid #5e77ba;
}

table th {
  border-bottom: 1px solid white;
  border-color: #5e77ba;
  color: #6284c3;
  background-color: #1c2e56;  
  border-width: 1px 0px;
  border-style: dashed;
}

table td{
  border-bottom: 1px solid #5e77ba;
  border-color: #5e77ba;  
  background-color: #23468a;
  color: white;
  border-width: 1px 0px;
  border-style: dashed;
}

table tr:first-child th {
  border-radius: 7px 0 0 0;
}
table tr:first-child td {
  border-radius: 0 7px 0 0;
}
table tr:last-child th {
  border-bottom: none;
  border-radius: 0 0 0 7px;
}
table tr:last-child td {
  border-bottom: none;
  border-radius: 0 0 7px 0;
}

/* Leader Chart */

.chart_box{
  width: 300px;
  height: 200px;
  background-color: rgba(255,255,255,1);/*#cfffe2;*/
  margin-top: -200px;
  margin-left: 300px;
}

.chart{
  width: 250px;
  height: 200px;
  left: 25px;
  position: relative;
  /*
  top: 150px;
  left: -280px;*/
}

/* 背景のグラデーション */
.background {
	position: relative;
  width: 600px;
  height: 420px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: -60px;
	/*text-align: center;*/
}

.gradient {
	background: linear-gradient(45deg, rgba(4,191,207,0.6), rgba(191,25,203,0.6));
  width: 600px;
  height: 420px;
  z-index: 0;

	-webkit-animation: test 4s ease infinite;
	-moz-animation: test 4s ease infinite;
	animation: test 4s ease infinite;
}
	@-webkit-keyframes test {
	    0%{background-position:0% 51%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 51%}
	}
	@-moz-keyframes test {
	    0%{background-position:0% 51%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 51%}
	}
	@keyframes test { 
	    0%{background-position:0% 51%}
	    50%{background-position:100% 50%}
	    100%{background-position:0% 51%}
	}
