<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Monster Stripe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Vue.js -->
    <script src="https://unpkg.com/vue"></script>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    
    <!-- Chart.js -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

    <!--  Link script -->
    <script type="text/javascript" src="display_monster.js"></script>
    <script type="text/javascript" src="../skillBook.js"></script>
    <link rel="stylesheet" type="text/css" href="display_monster.css">



  </head>

  <body>
    <div id="app" style=" margin-bottom: 200px; ">
      <h1 class="title">Monster Stripe</h1>
      <div class="box">
        <div class="background">
		      <div class="gradient">
		        <div class="MonsterBox"></div>
		        <img v-bind:src="userMonsterSrc" class="Monster" ></img>
		        <form name = "form_puripuri">
		          <a href="#" class="square_btn" onclick="puripuri_submit('../Menu/menu.html')"> Battle </a>
		          <a href="#" class="square_btn" onclick="puripuri_submit('../Scan_Barcode/scan_barcode.html')" style="margin-left : 440px"> Scan </a>
		          
		          </form>
              <div class = "t_box">
      <TABLE>
      <tr>
              <th>No.</th><td>{{barcode}} </td>
      </tr>
      <!--
      <tr>
        <th>HP</th><td>{{userHp}}</td>
      </tr>
      <tr>
              <th>ATTACK</th><td>{{userAttack}}</td>
      </tr>
      <tr>
              <th>DIFENSE</th><td>{{userDefense}}</td>
      </tr>
      <tr>
              <th>SPEED</th><td>{{userSpeed}}</td>
      </tr>
      -->
      <tr>
              <th>Skill 1</th><td>{{PlayerSkillName1}}</td>
      </tr>
      <tr>
              <th>Skill 2</th><td>{{PlayerSkillName2}}</td>
      </tr>
      <tr>
              <th>Skill 3</th><td>{{PlayerSkillName3}}</td>
      </tr>
      <tr>
              <th>Skill 4</th><td>{{PlayerSkillName4}}</td>
      </tr>
      
  </TABLE></div>

  <!-- Lader Chart -->
  <div class = "chart_box">
    <canvas class="chart" id="radarChart"></canvas>
  </div>

  </div>
  </div>

  </div>
              <!--↑ gradiate-->
              </div> 
		        </div>
  </body>
</html>
