html, body {
  height: 100%;
  background: #3C7ACD;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  position: relative;
  margin-top: 10px;
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: 'Monotype Corsiva';
}

.box {
  position: relative;
  background:rgba(0,0,0,0); 
  opacity: 0;
  margin: auto;
  display: block;
  margin-top: 3%;
  width: 600px;
  height: 420px;
  background: #F8F8F8;
  z-index: 0;
}